
/* Primary and Surface Palettes */
:root {
    /* Primary colors */
    --p-primary-50: #f6fafc;
    --p-primary-100: #e1f0f9;
    --p-primary-200: #c5e2f3;
    --p-primary-300: #a6d2ec;
    --p-primary-400: #88c2e5;
    --p-primary-500: #6eaedc;
    --p-primary-600: #5397c8;
    --p-primary-700: #3a7cad;
    --p-primary-800: #28648b;
    --p-primary-900: #174b69;
    --p-primary-950: #0c3a51;

    /* Surface colors */
    --p-surface-0: #ffffff;
    --p-surface-50: #fafbfc;
    --p-surface-100: #f5f7f9;
    --p-surface-200: #edf0f4;
    --p-surface-300: #e3e7ed;
    --p-surface-400: #d8dfe6;
    --p-surface-500: #c5cfd9;
    --p-surface-600: #acb8c3;
    --p-surface-700: #8c98a3;
    --p-surface-800: #6d7984;
    --p-surface-900: #505c65;
    --p-surface-950: #39424a;

    --p-content-border-radius: 6px;
}

/* Light */
:root {
    --p-primary-color: var(--p-primary-500);
    --p-primary-contrast-color: var(--p-surface-0);
    --p-primary-hover-color: var(--p-primary-600);
    --p-primary-active-color: var(--p-primary-700);
    --p-content-border-color: var(--p-surface-200);
    --p-content-hover-background: var(--p-surface-100);
    --p-content-hover-color: var(--p-surface-800);
    --p-highlight-background: var(--p-primary-50);
    --p-highlight-color: var(--p-primary-700);
    --p-highlight-focus-background: var(--p-primary-100);
    --p-highlight-focus-color: var(--p-primary-800);
    --p-text-color: var(--p-surface-700);
    --p-text-hover-color: var(--p-surface-800);
    --p-text-muted-color: var(--p-surface-500);
    --p-text-hover-muted-color: var(--p-surface-600);
}

/* 
 * Dark Mode
 * Defaults to system, change the selector to match the darkMode in tailwind.config.
 * For example; 
 * darkMode: ['selector', '[class*="app-dark"]'] 
 * should be;
 * :root[class="app-dark"] {
*/
@media (prefers-color-scheme: dark) {
    :root {
        --p-primary-color: var(--p-primary-400);
        --p-primary-contrast-color: var(--p-surface-900);
        --p-primary-hover-color: var(--p-primary-300);
        --p-primary-active-color: var(--p-primary-200);
        --p-content-border-color: var(--p-surface-700);
        --p-content-hover-background: var(--p-surface-800);
        --p-content-hover-color: var(--p-surface-0);
        --p-highlight-background: color-mix(in srgb, var(--p-primary-400), transparent 84%);
        --p-highlight-color: rgba(255, 255, 255, 0.87);
        --p-highlight-focus-background: color-mix(in srgb, var(--p-primary-400), transparent 76%);
        --p-highlight-focus-color: rgba(255, 255, 255, 0.87);
        --p-text-color: var(--p-surface-0);
        --p-text-hover-color: var(--p-surface-0);
        --p-text-muted-color: var(--p-surface-400);
        --p-text-hover-muted-color: var(--p-surface-300);
    }
}
